@media (max-width: 1030px) {
    .section2 p {
        font-size: 2.8vw;
    }
    .mobileNav {
        display:none;
    }
}

@media (max-width: 768px) {
    .normalNav {
        display: none;
    }
    .mobile {
        display: block;
    }
    .section2 p {
        font-size: 3vw;
    }
    .section3 p {
        font-size: 1rem;
    }
}

@media (max-width: 640px) {
    .section3 a {
        width:65%;
    }
    .section3 p {
        font-size: 0.8rem;
    }
    .section4 {
        p {
            font-size: 2.1em;
        }
        a {
            font-size: 2.1em;
        }
    }
}


@media (max-width: 420px) {
    .section2 p {
        font-size: 2.7vw;
    }
    .infoBlank {
        img {
            transform: scale(0.7);
        }
        span {
            font-size:1rem;
        }
    }
}

@media (max-width: 360px) {
    .section2 p {
        font-size: 4.5vw;
    }
}



