@media (max-width: 900px) {
    .normalNav {
        display: none;
    }
    .mobileNav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hamburger {
        display: flex;
    }
}



@media (max-width: 640px) {
    
}

@media (max-width: 640px) {

}

@media (max-width: 420px) {

}

@media (max-width: 300px) {

}



