@media (max-width: 900px) {
    .normalNav {
        display: none;
    }
    .mobileNav {
        display: flex;
        justify-content: center;
    }
//    .circleBoxMobile {
//        display: flex;
//    }
//    .allCircleBox {
//        display: none;
//    }
//    .circleBox {
//        margin: 0.5em;
//        display: none;
//    }
//    .circleBoxMobile {
//        margin: 0.5em;
//    }
}



@media (max-width: 640px) {
    
}

@media (max-width: 640px) {

}

@media (max-width: 420px) {

}

@media (max-width: 300px) {

}



