.section4 {
    position: relative;
    min-height: 80vh;
    background-color: #101010;
    background-image: url(/images/asphaltDown.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: snow;
        img {
            min-height: 40px;
            min-width: 40px;
        }
            img:hover {
                opacity: 0.5;
            }
                span {
                    font-size: 1.3em;
                }
                    a {
                        text-decoration: none;
                        color: white;
                    }
                        p, a {
                            font-size: 1em;
                        }
                            h4 {
                                color: white;
                            }
}


.questions {
    font-size: 8vw;
    color: rgba(255,255,255, 0.1);
    left: 0%;
}

footer {
    min-height:40px;
    background-color: #222222;
        .row {
            margin-bottom: 0;
        }
            .footerRow {
                //height: 2em;
                background-color: #222222;
                a {
                    text-decoration: none;
                    font-size: 0.8em;
                    color: #9d9d9d; 
                }
            }
}