.section2 {
    @extend %section;
    background-color: #101010;
    .aboutMe {
        font-size: 7vh;
    }
    p {
        font-size: 2vh;
        color: #a7a7a7;
            span {
                font-weight: bolder;
                color: rgb(255, 206, 0);
            }
            .low {
                font-weight: bolder;
                color: #ff0066;

            }
            .future {
                font-weight: bolder;
                color: #3366ff;
            }
    }
}
