.section4 {
    position: relative;
    height: 100vh;
    background-color: #101010;
//    background-image: url(/images/asphaltDown.png);
//    background-repeat: no-repeat;
//    background-size: cover;
//    background-position: bottom;
    color: snow;
    img:hover {
        opacity: 0.5;
    }
    span {
        font-size: 1.5rem;
    }
    .row {
        margin-bottom: 5%;
    }
}


.questions {
    top: 0rem;
    font-size: 8vw;
    color: rgba(255,255,255, 0.1);
    left: 0%;
    margin-top: 8vw;
}

footer {
    position: absolute;
    bottom: 0;
    //font-size: 100%;
    opacity: 0.4;
    //left: 32%;
    a {
        text-decoration: none;
        color: #ffffff;
    }
}