.section3 {
    background-color: #101010;
    a {
        text-decoration: none;
        color: black;
    }
    img {
        padding: 0.5em;
        cursor: pointer;
    }
    i {
        cursor: pointer;
    }
    p {
        padding: 0.3em;
    }
}

.projects {
    font-size: 7vw;
    margin-top: 4.5rem;
}

.info {
    position: absolute;
    display:none;
    width:100%;
    height:100%;
    z-index: 1;
    font-size: 0.8em;
    background-color: rgba(0,0,0,0.97);
    p {
    }
}

.fa-close {
    color: #f53240;
}




