.section4 {
    @extend %section;
    position: relative;
    background-color: #101010;
    background-image: url(/images/asphaltDown.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: snow;
}


.questions {
    top: 0rem;
    font-size: 10vw;
    color: rgba(255,255,255, 0.1);
    left: 0%;
}


.copy {
    font-size: 1rem;
    font-size: 1rem;
    bottom: 2%;
    right: 2%;
    position: absolute;
}


footer {
    position: absolute;
    bottom: 2%;
    //font-size: 100%;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    //left: 32%;
    a {
        text-decoration: none;
        color: #ffffff;
    }
}