.section2 {
    min-height: 300px;
    background-color: #101010;
    .aboutMe {
        font-size: 7vw;
        margin-top: 4.5rem;
    }
    p {
        font-size: 2.2vw;
        color: #a7a7a7;
            span {
                font-weight: bolder;
                color: rgb(255, 206, 0);
                margin-top: 4rem;
            }
            .low {
                font-weight: bolder;
                color: #ff0066;

            }
            .future {
                font-weight: bolder;
                color: #3366ff;
            }
    }
}
