body {
    font-family: 'Roboto Mono', 'Arial', 'Helvetica';
    font-size: 2vw;
    overflow-y: hidden;
    background-color: #292b2c;
    //min-width: 300px;
}

header {
    overflow: hidden;
}

.start {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #404040;
    z-index: 1;
}

.percent {
    font-size: 4rem;
    color: #404040;
}

.progressBar {
    height: 4vw;
    width: 45vw;
    padding: 0.5vw;
    border-radius: 1vw;
    background-color: #1a1a1a;
    opacity: 1;
    span {
        display: inline-block;
        height: 100%;
        width: 0;
        border-radius: 0.7vw;
    }
}


.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 5;
}

.stickyBox {
    width: 100vw;
    height: 5.6vw;
    margin-top: 1.5vw;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 400ms;
}

.sectionBlank {
    width: 100%;
    height: 30vh;
    background-color: #101010;
    display: flex;
    align-items: center;
    div {
        width: 100%;
        border-bottom: 0.25vw dashed rgba(255, 255, 255, 0.3);
    }
}
