body {
    font-family: 'Roboto Mono', 'Arial', 'Helvetica';
    font-size: 2vw;
    overflow-y: 0;
}

.absol {position: absolute;}
.center {margin: 0 auto;}



.wide-container { 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



.section1 {
    width: 100%;
    position: relative;
    background-image: url(/images/stopeff3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.section {
    @extend %section;
}

.section2 {
    @extend %section;
}

.section3 {
    @extend %section;
}

.section4 {
    @extend %section;
}

header {
    overflow: hidden;
}

nav {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    color: white;
    font-size: 2vw;
        a {
            text-decoration: none;
            color: white;
        }
}

.allCircleBox {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.circleBox {
    width: 25%;
    display: flex;
    justify-content: center;
}

.circle1 {
    @extend %circle;
    background-color: #ff4000;
    .aBox {
        span {
            position: absolute;
            left: 39%;
            top: 28%;
            padding: 0;
        }
        
    }
}

.aboutBox {
    display: none;
        span {
            position: absolute;
            top: 28%;
            left: 3%;
            color: #ff4000;
        }
}


.circle2 {
    @extend %circle;
    background-color: #ff4000;
    .bBox {
        span {
            position: absolute;
            left: 39%;
            top: 28%;
            padding: 0;
        }
    }
}

.beBox {
    display: none;
    opacity: 1;
        span {
            position: absolute;
            top: 28%;
            left: 3%;
            color: #ff4000;
        }
}

.circle3 {
    @extend %circle;
    background-color: #ff4000;
    .cBox {
        span {
            position: absolute;
            left: 39%;
            top: 28%;
            padding: 0;
        }
    }
}

.ceBox {
    display: none;
    opacity: 1;
        span {
            position: absolute;
            top: 28%;
            left: 3%;
            color: #ff4000;
        }
}

.circle4 {
    @extend %circle;
    background-color: #ffffff;
    background-image: url(/images/home.png);
    background-repeat: no-repeat;
    background-size: cover;
}



.myName {
    position: relative;
    font-size: 10vw;
    color: #ff4000;
    top: 10%;
    left: 10%;
}


